.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #000;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

/* Transição suave para os botões de horário */
.btn {
    transition: all 0.2s ease-in-out;
}

/* Responsividade extra para os botões de horário */
@media (max-width: 576px) {
    .btn-sm {
        width: 100% !important; /* Em celular, ocupa largura total */
    }
}